* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
}

@font-face {
    font-family: 'BebasNeue';
    src: url(./Font/BebasNeue-Regular.otf);
}

.mainFrame {
    margin-top: 25vh;
    display: flex;
    width: 100%;
    height: 730px;
}

.main {
    font-family: "Truculenta";
    margin-left: 40px;
    padding-left: 40px;
    margin-right: 40px;
    padding-right: 40px;
    display: flex;
    width: 100%;
    height: 720px;
    border-radius: 15px;
    background: #a7dcfe;
    flex-direction: column;
}

.keterangan {
    margin-left: 25px;
    padding-left: 20px;
    color: red;
}

.triangle,
.triangleClass,
.triangleResponsible {
    display: flex;
    margin: 0.3125rem 0.9375rem 0.3125rem 0.9375rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform-origin: center;
}

/* FORM DROPDOWN */
.dropdown {
    margin-top: 40px;
    margin-left: 40px;
    width: 60%;
    height: 80px;
    display: relative;
    z-index: 2;
}

.dropbtn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    color: black;
    font-size: 1rem;
    border: none;
    height: 100%;
    border-radius: 15px;
    width: 100%;
    align-items: center;
    padding-left: 10px;
}

.btnForm {
    padding-left: 0.625rem;
    font-size: 40px;
}

.dropbtn:hover {
    background-color: #D8EFFF;
}

.dropdown-content {
    visibility: collapse;
    top: 6.2rem;
    flex-direction: column;
    display: flex;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 2;
    height: 240px;
    width: 100%;
    flex-grow: 150px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-content::-webkit-scrollbar {
    width: 0px;
}

.dropdown {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.formBtn {
    background: rgb(233, 233, 233);
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0.625rem 0.625rem 0px rgba(0, 0, 0, 0.2);
    margin-top: 1.25%;
    color: black;
    padding: 1.25% 7.125%;
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 35px;
    font-family: "Truculenta";
    text-align: left;
    justify-content: flex-start;
    border: 2px solid rgba(0, 0, 0, 0.2);
    text-decoration: none !important;
    cursor: pointer;
}

.formBtn:hover {
    background-color: #D8EFFF;
}

.dropdown-content a:hover {
    background-color: #D8EFFF;
}

.show {
    visibility: visible;
}

.collapse {
    visibility: collapse;
}


/* SHEET PART */
.sheetPart {
    padding-top: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: calc(100% - 80px);
    height: 430px;
    border-radius: 15px;
    border: none;
    background: white;
    flex-direction: column;
    z-index: 1;
}

.lpart {
    display: flex;
    flex-direction: column;
}

.alert,
.alert1 {
    visibility: hidden;
    font-size: 20px;
    width: 50%;
    padding-left: 40%;
    color: red;
}

.alert1 {
    margin-left: 2px;
    height: auto;
}

.show {
    visibility: visible;
}

.format {
    margin-left: 4%;
    margin-right: 2%;
    width: 45%;
}

.form {
    font-size: 2.1875rem;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.generalTB {
    align-items: center;
    margin-left: 0.625rem;
    height: 50px;
    width: 90%;
    background: #d9d9d9;
    font-family: "Truculenta";
    border: none;
    border-radius: 15px;
    font-size: 2.1875rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.generalTB:hover {
    background: #d8efff;
}

.tb {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    width: 100%;
}

.dodot {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CLASS PART */
.tbClass {
    display: relative;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    width: 100%;
}

.ClassDropbtn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;
    color: black;
    font-size: 1rem;
    border: none;
    height: 50px;
    border-radius: 15px;
    width: 90%;
    align-items: center;
    padding-left: 20px;
    margin-left: 10px;
}

.classBtn {
    background: #d9d9d9;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 2.1875rem;
    text-align: left;
    justify-content: flex-start;
    width: 99.3%;
    cursor: pointer;
    padding-left: 3px;
}

.classBtn:hover {
    background: #D8EFFF;
}

.ClassBtnForm {
    padding-left: 0.625rem;
    font-size: 2.5rem;
}

.classDropdown-content {
    visibility: collapse;
    margin-left: 10px;
    flex-direction: column;
    padding-left: 0px;
    display: flex;
    border-radius: 15px;
    position: absolute;
    z-index: 3;
    height: 250px;
    width: 50%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.classDropdown-content::-webkit-scrollbar {
    width: 0px;
}

.ClassDropbtn:hover {
    background-color: #d8efff;
}

.classDropdown-content a:hover {
    background-color: white;
}



/* SUBMIT PART */
.submitPart {
    display: flex;
    justify-content: flex-end;
    margin-top: 37px
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #48b7ff;
    width: 14%;
    height: 50px;
    border: none !important;
    border-radius: 30px;
}

.submitBtn:hover {
    background: #d8efff;
    cursor: pointer;
}


/* DATE PICKER PART */
.tbResponsible {
    display: relative;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    /* Adjusted height */
}

.ResponsibleDropbtn {
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;
    color: black;
    font-size: 1rem;
    border: none;
    height: 50px;
    border-radius: 15px;
    width: 90%;
    align-items: center;
    padding-left: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.ResponsibleBtnForm {
    padding-left: 0.625rem;
    font-size: 2.5rem;
}

.responsibleDropdown-content {
    visibility: collapse;
    margin-left: 10px;
    flex-direction: column;
    display: flex;
    border-radius: 15px rgba(0, 0, 0, 0);
    position: absolute;
    top: auto;
    z-index: 3;
    height: 250px;
    width: 170px;
    overflow-y: auto;
}


.datepicker {
    max-width: 190px;
    background: white !important;
    border: 1px solid black !important;
    cursor: pointer;
    align-items: center !important;
    border-radius: 15px;
    overflow: hidden;
}

.headerDatePicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    align-items: center;
    padding-left: 5px;
}

td {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    padding: 4.2px;
    cursor: pointer;
    background: none;
}

td:hover {
    background-color: lightgray;
}

.green-background {
    background-color: lightgreen;
}

.prev {
    margin-left: 5px;
}

.next {
    margin-right: 5px;
}

.prev:hover,
.next:hover {
    background-color: lightgray;
}

.show {
    visibility: visible;
}

.collapse {
    visibility: collapse;
}

@media (max-width: 1100px) {
    body {
        max-width: 100%;
    }

    .mainFrame {
        margin-top: 25vh;
        display: flex;
        width: 100%;
        height: 650px;
    }

    .main {
        width: 100%;
        height: 650px;
        border-radius: 15px;
    }

    .keterangan {
        margin-left: 22px;
        padding-left: 11px;
    }

    .triangle,
    .triangleClass,
    .triangleResponsible {
        margin: 0.1125rem 0.7375rem 0.1125rem 0.7375rem;
        width: 20px;
        height: 20px;
    }

    .dropdown {
        margin-top: 40px;
        margin-left: 40px;
        width: 45%;
        height: 64px;
    }

    .dropbtn {
        font-size: 0.8rem;
        height: 100%;
        border-radius: 15px;
        width: 97.4%;
        padding-left: 10px;
    }

    .btnForm {
        font-size: 30px;
    }

    .dropdown-content {
        top: 6.2rem;
        height: 240px;
        width: 100%;
    }

    .dropdown {
        border-radius: 15px;
    }

    .formBtn {
        border-radius: 15px;
        margin-top: 1.25%;
        padding: 1.25% 7.125%;
        height: 80px;
        font-size: 25px;
    }

    .sheetPart {
        padding-top: 25px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        width: calc(100% - 80px);
        height: 400px;
        border-radius: 15px;
    }

    .alert,
    .alert1 {
        font-size: 17px;
        width: 50%;
        padding-left: 40%;
    }

    .alert1 {
        padding-left: 5%;
    }

    .format {
        margin-left: 4%;
        margin-right: 2%;
        width: 45%;
    }

    .form, .generalTB {
        font-size: 1.8rem;
    }

    .generalTB {
        height: 45px;
        width: 90%;
        border-radius: 15px;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .tb {
        width: 100%;
    }

    /* Class Part */
    .tbClass {
        width: 100%;
    }

    .ClassDropbtn {
        font-size: 0.8rem;
        height: 50px;
        border-radius: 15px;
        width: 90%;
        padding-left: 20px;
        margin-left: 10px;
    }

    .classBtn {
        height: 50px;
        font-size: 1.2rem;
        width: 98.7%;
        padding-left: 3px;
        border-radius: 10px;
    }

    .classDropdown-content {
        margin-left: 10px;
        width: 46.5%;
        height: 250px;
    }

    .ClassBtnForm {
        font-size: 2rem;
    }

    /* Submit Part */
    .submitBtn {
        width: 14%;
        height: 50px;
        border-radius: 30px;
    }

    /* Date Picker Part */
    .tbResponsible {
        width: 100%;
        height: 50px;
    }

    .ResponsibleDropbtn {
        font-size: 0.6rem;
        height: 50px;
        border-radius: 15px;
        width: 90%;
        padding-left: 20px;
        margin-left: 10px;
    }

    .ResponsibleBtnForm {
        font-size: 1.8rem;
    }

    .responsibleDropdown-content {
        margin-left: 10px;
        width: 170px;
        height: 220px;
    }

    .datepicker {
        max-width: 175px;
        border-radius: 15px;
    }

    .headerDatePicker {
        display: flex;
    }

    table {
        width: 100%;
        padding-left: 5px;
    }

    td {
        padding: 4.2px;
    }

    .prev {
        margin-left: 5px;
    }

    .next {
        margin-right: 5px;
    }
}

@media (max-width: 955px){
    .mainFrame{
        margin-top: 20vh;
    }
}

@media (max-width: 760px){
    .btnForm {
        font-size: 25px;
    }
    .formBtn {
        height: 40px;
        font-size: 20px;
    }
    .dropdown-content{
        height: 170px;
    }
}

@media (max-width: 885px){
    .form, .generalTB {
        font-size: 1.4rem;
    }
    .triangle,
    .triangleClass,
    .triangleResponsible {
        margin: 0.3125rem 0.9375rem 0.3125rem 0.9375rem;
        width: 15px;
        height: 15px;
    }
    .generalTB {
        height: 35px;
        width: 90%;
        border-radius: 15px;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .ClassDropbtn, .ResponsibleDropbtn, .tbResponsible{
        height: 35px;
    }

    .ClassBtnForm, .ResponsibleBtnForm {
        font-size: 1.3rem;
    }
    
    .classBtn {
        height: 50px;
        font-size: 1.2rem;
        width: 98.3%;
        padding-left: 3px;
        border-radius: 10px;
    }

    .classDropdown-content {
        margin-left: 10px;
        width: 43.95%;
        height: 250px;
    }

    .btnForm{
        padding: 0px;
    }

    .alert, .alert1{
        font-size: 15px;
    }
    .submitBtn {
        border-radius: 25px;
    }
    .keterangan {
        margin-left: 17px;
        padding-left: 7px;
    }
}

@media (max-width: 820px) {
    .form, .generalTB {
        font-size: 1.1rem;
    }
    .sheetPart {
        width: calc(100% - 60px);
        margin-left: 20px;
        margin-right: 20px;
        height: 320px;
        margin-top: 10px;
    }
    .alert{
        font-size: 1rem;
    }
    
    .dropdown {
        margin-left: 20px;
        height: 60px;
    }
    .submitPart{
        margin-top: 25px;
    }
    .main {
        height: 560px;
    }
    .mainFrame {
        height: 560px;
    }
    .submitBtn {
        border-radius: 20px;
        font-size: 1rem;
    }

    .btnForm {
        font-size: 25px;
    }
}

@media (max-width: 735px){
    .dropdown {
        height: 40px;
        margin-top: 30px;
    }
    .keterangan{
        font-size: 15px;
        padding: 2px;
    }
    .sheetPart {
        padding-top: 17px;
        height: 300px;
    }
    .main {
        height: 490px;
    }
    .mainFrame {
        height: 490px;
    }
    .list {
        height:35px;
    }
    .submitPart {
        margin-top: 32px;
    }
    .alert {
        font-size: 10px;
    }
    .format {
        align-items: center !important;
    }

    .btnForm {
        font-size: 23px;
    }
}

@media (max-width: 635px){
    .triangle,
    .triangleClass,
    .triangleResponsible {
        padding-left: -5%;
        margin: 0px;
        width: 15px;
        height: 15px;
    }
    .sheetPart {
        padding-top: 15px;
        height: 300px;
    }
    .main {
        height: 485px;
    }
    .mainFrame {
        height: 485px;
    }
    .list {
        height:35px;
    }
    .submitPart {
        margin-top: 32px;
    }
    .alert {
        font-size: 10px;
    }
    .format {
        align-items: center !important;
    }

    .btnForm {
        padding-left: 5px;
        font-size: 20px !important;
    }

    .ClassDropbtn {
        font-size: 0.6rem;
        height: 35px;
        border-radius: 15px;
        width: 88%;
        padding-left: 20px;
        margin-left: 10px;
    }

    .ResponsibleDropbtn{
        width: 88%;
    }

    .classBtn {
        height: 35px;
        font-size: 1.2rem;
        width: 98%;
        padding-left: 3px;
        border-radius: 10px;
    }

    .classDropdown-content {
        margin-left: 10px;
        width: 40%;
        height: 200px;
    }

    .ClassBtnForm {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px){
    .dropbtn{
        width:94.77%;
    }
    .list{
        flex-direction: column;
        height: 50px;
    }
    .lpart{
        height: 100px;
    }
    .dodot{
        height: 0px;
        visibility: hidden;
    }
    .format{
        justify-content: flex-start;
        text-align: left;
        margin: 0px;
        display: flex;
        width: 94.5%;
    }
    .form {
        padding: 0px;
        margin: 0px;
    }
    .sheetPart{
        height: 375px;
    }
    .keterangan{
        margin: 0px;
        padding: 0px;
        width: 100%;
        padding-left: 14px;
        height: 20px;   
    }
    .listKet {
        height: 30px !important;
    }
    .alert{
        height:20px;
        padding-top: 13px;
        padding-left: 20px;
        width: 70%;
    }
    .alert1 {
        padding-top: 5px;
    }
    /* Submit Part */
    .submitBtn {
        width: 18%;
        height: 40px;
        margin-top: 0px;
        border-radius: 15px;
    }
    .submitPart{
        width: 100%;
        margin-top: 30px;
    }
    .classBtn {
        height: 40px !important;
        font-size: 1.2rem;
        width: 98.3%;
        padding-left: 3px;
        border-radius: 10px;
    }
    .classDropdown-content {
        margin-left: 10px;
        width: 60%;
        height: 240px;
    }
    .ClassDropbtn, .ResponsibleDropbtn{
        width: 90%; 
    }
    .sheetPart{
        height: 450px;
        padding-left: 10px;
        padding-right: 20px;
    }
    .main, .mainFrame{
        height: 635px;
    }
}

@media (max-width: 560px) {
    .dropdown{
        width: 55%;
    }
    .dropbtn{
        width: 95.5%;
    }
}

@media (max-width: 480px) {
    .ClassDropbtn, .ResponsibleDropbtn{
        width: 89%; 
    }
    .dropdown{
        width: 65%;
        margin-left: 0px;
    }
    .dropbtn{
        width: 95.5%;
    }
    .submitBtn{
        width: 26%;
    }
    .submitPart{
        width: 107%;
    }
    .classBtn {
        height: 40px !important;
        font-size: 1.2rem;
        width: 97.8%;
        padding-left: 3px;
        border-radius: 10px;
    }
    .classDropdown-content {
        margin-left: 10px;
        width: 53.5%;
        height: 240px;
    }
    .generalTB{
        margin-left: 9px;
    }
    .ClassDropbtn, .ResponsibleDropbtn{
        margin-left: 9px;
        width: 84.5%;
    }
    .form, .generalTB{
        font-size: 1.1rem;
    }
    .sheetPart{
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 10px;
        width: calc(100% - 30px) !important;
    }
    .alert1{
        margin-left: 5px;
    }
}

@media (max-width: 400px){
    .main   {
        margin-left: 20px;
        margin-right: 20px;
    }
}